{include file='public/header' /}
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>会员管理</cite></a>
              <a><cite>管理员列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            登录名
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {$ferre.id}
                        </td>
                        <td>
                            {$ferre.username}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id="page"></div>
        </div>
        {include file='public/base_js' /}

    </body>
</html>